{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'schedule/styles.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <title>Расписание групповых занятий</title>
</head>

<body>
    <div class="container">
        <ul class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="{% url 'home' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <h4>GroupClasses</h4>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Главная</a></li>

            {% if request.user.is_authenticated %}
                    <li><a href="{% url 'schedule' %}" class="nav-link px-2">Расписание</a></li>
                    <li><a href="{% url 'my_schedule' %}" class="nav-link px-2">Мое расписание</a></li>
                {% if user.groups.all.0.id == 2 %}
                    <li><a href="{% url 'add_lesson' %}" class="nav-link px-2">Добавить занятие</a></li>
                {% endif %}
            </ul>

            <div class="col-md-3 d-flex justify-content-end">
                 <div class="dropdown">
                  <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <button type="button" class="btn btn-outline-secondary me-2">Профиль</button>
                  </a>
                  <ul class="dropdown-menu text-small shadow " style="">
                      <li class="dropdown-item"><em>{{ user.first_name }} {{ user.last_name }}</em></li>
                    <li class="dropdown-item">Логин: {{ user.username }}</li>
                    <li class="dropdown-item">Роль: {{ user.groups.all.0 }}</li>

                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item " href="{% url 'logout' %}">Выйти</a></li>
                  </ul>
                </div>

{#                <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary me-2">Выйти</button></a>#}

            </div>
            {% else %}
                </ul>
            <div class="col-md-3 text-end">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary me-2">Вход</button></a>
                <a href="{% url 'register' %}"><button type="button" class="btn btn-primary me-2">Регистрация</button></a>
            </div>
            {% endif %}
        </header>
    </div>

    {% block content %}

    {% endblock %}

    {% block footer %}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-0 border-top">
            <h5 class="col-md-4 mb-0">Курсовой проект</h5>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Главная</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}" class="nav-link px-2 text-body-secondary">Расписание</a></li>
                <li class="nav-item"><a href="{% url 'my_schedule' %}" class="nav-link px-2 text-body-secondary">Мое расписание</a></li>
            </ul>
        </footer>
    </div>
    {% endblock %}

</body>

</html>