{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block content %}
    <div class="container-fluid image-block">

        <div class="image-title">
            <h1 class="display-2"><strong>Сайт для проведения групповых занятий</strong></h1>
        </div>

        <img src="{% static 'schedule/example.jpg' %}" class="img-fluid" alt="...">

    </div>

    <div class="container">
        <div class="content p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Запись на занятия</h1>
                <p class="col-md-8 fs-4">На нашем сайте вы можете записаться на любое из доступных групповых занятий, а
                    также создавать расписание для проведения своих собственных занятий</p>

                {% if request.user.is_authenticated %}
                    <a href="{% url 'schedule' %}">
                        <button class="btn btn-primary btn-lg" type="button">Попробовать</button>
                    </a>
                {% else %}
                  <a href="{% url 'login' %}">
                    <button class="btn btn-primary btn-lg" type="button">Попробовать</button>
                  </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
