{% extends 'base.html' %}

{% block content %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% if user.groups.all.0.id == 1 %}
            <h4 class="modal-title" id="exampleModalLabel">Запись за занятие</h4>
        {% elif  user.groups.all.0.id == 2%}
            <h4 class="modal-title" id="exampleModalLabel">Подробности занятия</h4>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <h5 id="lesson-title"></h5>
        <p id="lesson-description"></p>
          <p><span><strong>Дата: </strong></span><span id="lesson-date"></span></p>
          <p><span><strong>Время: </strong></span><span id="lesson-time"></span></p>
        <p id="lesson-time"></p>
          <p>
              <span><strong>Учитель: </strong></span>
              <span id="lesson-first_name"></span>
            <span id="lesson-last_name"></span>
          </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        {% if user.groups.all.0.id == 1 %}
          <a href="{% url 'my_schedule' %}">
              <button data-lesson="" type="button" class="btn btn-primary add_lesson_user_btn">Записаться</button>
          </a>
          {% csrf_token %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

    <div class="container-fluid pt-5 mb-5 pb-5">
        <div id="carouselExample" class="carousel carousel-dark slide px-5">
            <div class="carousel-inner ">
                <div class="carousel-item active">

                    <div class="cards d-flex justify-content-space-between m-5">
                        {% for date in active %}
                        <div class="card m-1" style="width: 18rem;">
                            <div class="card-header d-flex flex-column align-items-center bg-success-subtle">
                                {% if date.weekday == 0 %}
                                    <h5 class="card-title">Пн</h5>
                                {% elif date.weekday == 1 %}
                                    <h5 class="card-title">Вт</h5>
                                {% elif date.weekday == 2 %}
                                    <h5 class="card-title">Ср</h5>
                                {% elif date.weekday == 3 %}
                                    <h5 class="card-title">Чт</h5>
                                {% elif date.weekday == 4 %}
                                    <h5 class="card-title">Пт</h5>
                                {% elif date.weekday == 5 %}
                                    <h5 class="card-title">Сб</h5>
                                {% endif %}
                                <h5 class="card-subtitle mb-2 text-body-secondary">{{ date }}</h5>
                            </div>

                            <ul class="list-group list-group-flush">
                            {% for lesson in lessons %}
                                {% if lesson.data == date %}
                                <li class="list-group-item list-group-item-action list-group-item-light" data-lesson-title="{{ lesson.title }}"
                                    data-lesson-description="{{ lesson.description }}" data-lesson-date="{{ lesson.data }}"
                                    data-lesson-time="{{ lesson.time }}" data-lesson-first_name="{{ lesson.teacher_id.first_name }}"
                                    data-lesson-last_name="{{ lesson.teacher_id.last_name }}"
                                    data-bs-toggle="modal" data-card_lesson="{{ lesson.id }}"
                                    data-bs-target="#exampleModal">{{ lesson.time}}   {{ lesson.title }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            {% for week in weeks %}
                <div class="carousel-item">

                    <div class="cards d-flex justify-content-space-between m-5">
                        {% for date in week %}
                        <div class="card m-1" style="width: 18rem;">
                            <div class="card-header d-flex flex-column align-items-center bg-primary-subtle">
                                {% if date.weekday == 0 %}
                                    <h5 class="card-title ">Пн</h5>
                                {% elif date.weekday == 1 %}
                                    <h5 class="card-title ">Вт</h5>
                                {% elif date.weekday == 2 %}
                                    <h5 class="card-title ">Ср</h5>
                                {% elif date.weekday == 3 %}
                                    <h5 class="card-title ">Чт</h5>
                                {% elif date.weekday == 4 %}
                                    <h5 class="card-title ">Пт</h5>
                                {% elif date.weekday == 5 %}
                                    <h5 class="card-title ">Сб</h5>
                                {% endif %}
                                <h5 class="card-subtitle mb-2 text-body-secondary">{{ date }}</h5>
                            </div>

                            <ul class="list-group list-group-flush">
                            {% for lesson in lessons %}
                                {% if lesson.data == date %}
                                <li class="list-group-item">{{ lesson.time}} {{ lesson.title }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}


            </div>

            <button class="car carousel-control-prev w-20" style="padding-right: 10%;" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="padding-left: 10%;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

 <script>
      document.addEventListener('DOMContentLoaded', function() {
        let lessonItems = document.querySelectorAll('.list-group-item');
        let lessonTitle = document.getElementById('lesson-title');
        let lessonDescription = document.getElementById('lesson-description');
        let lessonDate = document.getElementById('lesson-date');
        let lessonTime = document.getElementById('lesson-time');
        let lessonFirstName = document.getElementById('lesson-first_name');
        let lessonLastName = document.getElementById('lesson-last_name');

        let value;
        lessonItems.forEach(function(item) {
          item.addEventListener('click', function() {
            let title = this.getAttribute('data-lesson-title');
            let description = this.getAttribute('data-lesson-description');
            let date = this.getAttribute('data-lesson-date');
            let time = this.getAttribute('data-lesson-time');
            let first_name = this.getAttribute('data-lesson-first_name');
            let last_name = this.getAttribute('data-lesson-last_name');
            value = this.getAttribute('data-card_lesson');

            lessonTitle.textContent = title;
            lessonDescription.textContent = description
            lessonDate.textContent = date
            lessonTime.textContent = time
            lessonFirstName.textContent = first_name
            lessonLastName.textContent = last_name
          });
        });

        document.querySelector('.add_lesson_user_btn').addEventListener('click',
        function() {
            this.setAttribute('data-lesson', value);
            let lesson = this.getAttribute('data-lesson');
            let csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/add_user_lesson/', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', csrf_token);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    // Запрос завершен успешно
                }
            };
            xhr.send('lesson=' + encodeURIComponent(lesson));
        })
      });

 </script>
{% endblock %}